body{
  width: 900px;
  margin: 0 auto;
  background-color: #006352;
}

.intro{
  color: #F5D000;
  text-align: center;
  border-radius: 20px;
  font-style: italic;
  padding: 20px;
  background-color: #006352;

}

.pirate_images{
  margin: 10px 0px 10px 26px;
  border-width: 20px;
  border-color: black;
  border-style: solid;
}

.sub_heading{
  font-style: bold;
  background-color: #F5D000;
  border-radius: 20px;
  padding: 10px;
  color: black;
}
.heading{
  background-color: black;
}
.gray_background{
  background-color: #E0E0E0;
  color: black;
  padding: 20px;
  border-radius: 20px;
}
.columns{
  width: 30%;
  background-color: yellow;
  float: right;
}