span{
  color: red;
  font-size: 20px;
  background-color: yellow;
}

#inputSuccess1{
  color: green;
}

#inputError1
{

}

/*input#age{
  width: 200px;
}

#gender{
  float: right;
}
button{
  float: right;
}*/