#javascript{
  font-size: 30px;
  width: 800px;
  margin: 0 auto;
  color: red;
  background-color: yellow;
  margin-top: 250px;
  border-radius: 50px;
  padding: 20px;
}

#ruby{
  display: none;
}

#net{
  display: none;
}

.body_black{
  background-color: black;
}

.yell{
  color: yellow;
  font-size: 30px;
  background-color: red;
  width: 1250px;
  margin: 0 auto;
  border-radius: 40px;
  padding-left: 30px;
  margin-top: 200px;
}