#javascript{
  display: none;
}

#ruby{
  display: none;
}

#net{
  display: none;
}

.body_black{
  background-color: black;
}

.yellow{
  color: yellow;
  font-size: 30px;
  background-color: red;
  width: 1250px;
  margin: 0 auto;
  border-radius: 40px;
  padding-left: 30px;
  margin-top: 200px;
}