.container{
  background-color: transparent;
}
/*body{
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
}*/
.container{
  position: absolute;
  top: 0;
}
.full_image{
  display: block;
  height: auto;
  max-width: 100%;
  /*--webkit-background-size: cover;
  --moz-background-size: cover;
  background-size: cover;*/
}